.label-required::before {
  display: block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 16px;
  font-family: var(--font-sans);
  content: '*';
}

/* default */
.label-colon::after {
  content: '';
}

/* from (640px) and up ":" */
@media (min-width: 640px) {
  .label-colon::after {
    content: ':';
    margin-left: 4px;
  }
}
