@import 'tailwindcss';

@theme {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --color-mint-500: oklch(0.72 0.11 178);
  --color-opacity1: rgb(0 0 0 / var(--tw-bg-opacity, 0.2));
  --color-opacity2: rgb(0 0 0 / var(--tw-bg-opacity, 0.4));
  --color-opacity3: rgb(0 0 0 / var(--tw-bg-opacity, 0.6));
  --color-opacity4: rgb(0 0 0 / var(--tw-bg-opacity, 0.8));
  --color-opacity5: rgb(255 255 255 / var(--tw-bg-opacity, 0.8));
  --color-opacity6: rgb(255 255 255 / var(--tw-bg-opacity, 0.6));
  --color-opacity7: rgb(255 255 255 / var(--tw-bg-opacity, 0.4));
  --color-opacity8: rgb(255 255 255 / var(--tw-bg-opacity, 0.2));
  --shadow-shadow1: rgba(0, 0, 0, 0.1) 0px 1px 0px;
  --shadow-shadow2:
    rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
  --shadow-shadow3:
    0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  /* ---------------------------------------- */
  --label-width: 6rem;
}

body {
  font-family: var(--font-sans);
}

code,
pre {
  font-family: var(--font-mono);
}

form .formItem::before {
  display: block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 16px;
  font-family: var(--font-sans);
  content: '*';
}
